<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
 	<modules runAllManagedModulesForAllRequests="false" />
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index2.html" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="ETag" value="&quot;&quot;" />
                <add name="Access-Control-Expose-Headers" value="stimeout" />
                <add name="Access-Control-Max-Age" value="10000" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>

</configuration>
